p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(13, 4, 51);
}

#content {
    background-color: rgb(197, 167, 121);
    margin: auto; /* Center the content horizontally */
    width: 80%; /* Set the width of the content */
    border: 3px solid darkgoldenrod; /* Border styling */
    padding: 10px; /* Padding around the content */
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2012/03/01/00/21/bridge-19513_1280.jpg");
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(13, 4, 51);
    background-size: cover; /* Ensure the background image covers the entire screen */
  }

.Dice img {
    float: left;
    margin-right: 25px;
    width: 85px;
    height: 90px;
}

.Dice {
    margin-bottom: 25px;
}

#logo {
    width: 460px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(77, 64, 10);
    text-align: center;
    font-size: 30px;
}

#Contact {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}

#Contact a {
    background-color: #4032a6dd;
    padding: 5px 10px;
    border-radius: 25px;
    color: white;
}

.subnav a {
    background-color: #4032a6dd;
    padding: 5px 10px;
    border-radius: 25px;
    color: white;
    display: inline-block;
}

.chapt a {
    background-color: #ac7245dd;
    padding: 10px 24px;
    border-radius: 25px;
    color: rgb(78, 54, 255);
}

#dm {
    background-color: #ac7245dd;
    padding: 10px 24px;
    border-radius: 25px;
    color: rgb(78, 54, 255);
    display: inline-block;
}

#comp {
    background-color: #ac7245dd;
    padding: 10px 24px;
    border-radius: 25px;
    color: rgb(78, 54, 255);
    display: inline-block;
}

#res {
    background-color: #ac7245dd;
    padding: 10px 24px;
    border-radius: 25px;
    color: rgb(78, 54, 255);
    display: inline-block;
}

#cen {
    text-align: center;
}