.topnav {
    background-color: #834f27dd;
    overflow: hidden;
    border-radius: 25px;
 }

.topnav a {
    float: left;
    color: #bef6d6d8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #d3c184;
    color: rgba(32, 31, 31, 0.859);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #62504c;
    color: rgb(254, 255, 254);
}